



.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  body{
    margin: 0 160px;
    background-color: #F1F1F3;
  }
  .banner{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 20px;
    border-radius: 24px;
    background-color: #C6E4D6;
    
  }
  .banner-content{
    max-width: 622px;
    margin-top: 117px;
    margin-bottom: 117px;
    margin-left: 60px;
    margin-right: 64px;
    
  }
  .bnr-p{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
  }
  .cmn-color{
    color: #0E0E0E;
  }
  .banner-heading{
    font-weight: bold;
    font-size: 56px;
  }
  .bnr-btn{
   border:none;
   width: 270px;
   height: 56px; 

  }
  .cmn-b{
    color: #FFFFFF;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
  }
  .banner-img{
    width: 474px;
    height: 400px;
    padding-top: 80px;
    padding-right:60px;
  }
  /* Visions section Styles */
.visions{
   margin: 80px 0px;
}

.section-title{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}
.visions-container{
  display: flex;
}
.vision-heading {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}
.vision-1{
  width: 410px;
  margin-right: 24px;
  padding: 32px 32px;
  border-radius: 16px;
  background-color: rgba(84, 144, 245, 0.2);
}
.vision-2{
  width: 410px;
  margin-right: 24px;
  padding: 32px 32px;
  border-radius: 16px;
  background-color: #C6E4D6;
}
.vision-3{
  width: 410px;
  padding: 32px 32px;
  border-radius: 16px;
  background-color: #F7EBCF;
}
.vision-img{
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}
.section-p{
  color: rgba(14, 14, 14, 0.7) ;
}
.vision-p{
  color: rgba(14, 14, 14, 0.7) ;
  margin-bottom: 40px;
}
.vision-btn-1{
  width: 122px;
  height: 41px;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  background-color: #5490F5;
}
.vision-btn-2{
  width: 122px;
  height: 41px;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  background-color: #09A15C;
}
.vision-btn-3{
  width: 122px;
  height: 41px;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  background-color: #FFC239;
}
/* The News Style */


.news-items{
  background-color: #FFFFFF;
  display: flex;
  border-radius: 24px;
  margin-bottom: 24px;
}
.satelite-img{
  width: 408px;
  border-radius: 24px;
  margin: 48px 32px 48px 48px;
}
.news-content-1{
  width: 744px;
  margin-right: 48px;
  margin-bottom: 56px;
}

.satelite-title{
  color: rgba(14, 14, 14, 0.8);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
}
.al-jazeera{
  margin-bottom: 12px;
}
.news-btn{
  margin-top: 32px;
  width: 139px;
  height: 48px;
}
.news-content-2{
  width: 744px;
  margin-left: 48px;
  margin-right: 32px;
  margin-bottom: 56px;
}
/* Donate For Bangladesh Style */
.donar{
  background-color: rgba(14, 14, 14, 0.05);
  margin-bottom: 80px;
}
.donar > h3{
  text-align: center;
}
.donar > p{
  text-align: center;
  margin-top: 24px;
  margin-bottom: 32px;
  margin-left: 88px;
  margin-right:88px;
}
.donet-amount{
  display: inline;
  justify-content: center;
}
.donet-amount{
  margin-left: 104.5px;
  margin-right: 100.5px;
  
}
.donet-btn{
  width: 240px;
  height: 128px;
  border: none;
  border-radius: 16px;
  margin-right: 24px;
}
.donet-btn > p{
  font-size: 40px;
  font-weight: bold;
}
.take-donet-btn > p{
  font-size: 40px;
  font-weight: bold;
  
}
.take-donet-btn{
  width: 240px;
  height: 128px;
  border: none;
  background-color: #C6E4D6;
  border-radius: 16px;
  margin-right: 24px;
}
.input-text{
  margin-top: 32px;
  margin-right: 124px;
  margin-left: 124px;
  width: 1032px;
  height: 64px;
  border: none;
  background-color: none;
  text-align: center;
}
.donar-btn{
  width: 151px;
  height: 56px;
  margin-top: 32px;
  margin-left: 564px;
  
}